CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=client-id
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=client-secret
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=tenant-id

# Only on deployment: CONNECTIONS__SERVICE_CONNECTION__SETTINGS__AUTHTYPE=UserManagedIdentity

MS_FOUNDRY_PROJECT_ENDPOINT=https://<your-ai-foundry-resource-name>.services.ai.azure.com/api/projects/<your-project-id>
MS_FOUNDRY_SMALL_MODEL_DEPLOYMENT_NAME=gpt-4.1-mini
MS_FOUNDRY_ORCHESTRATOR_MODEL_DEPLOYMENT_NAME=gpt-5-chat
AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__AIFOUNDRY__SETTINGS__AZUREBOTOAUTHCONNECTIONNAME=ai_foundry_access_token
